/*
font-family: 'Droid Serif', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #777;
}

.page-header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/header/pictures_on_the_wall.jpg);
    background-size: cover;
    margin: 0;
    position: relative;
    
}

.page-header h1{
    font-size: 4em;
}

.page-header h2{
    font-family: 'Droid Serif', serif;
    font-style: italic;
}


.navbar {
    background: transparent;
    background-color: transparent;
    border: 0;
}

.navbar a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar a:hover{
    color: #0ed8d6;
    background-color: transparent;
}

#nav-id>li>a:hover{
    background-color: transparent;
}
/*
#nav-id>li>a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#nav-id>li>a:hover{
    color: #0ed8d6;
    background-color: transparent;
}
*/

#navbar-brand-id{
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    font-size: 2em;
}

#navbar-brand-id:hover{
    color: #0ed8d6;
}

.header-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    opacity: 1;
    z-index: 99;
    text-align: center;
}

#nav-button{
    border-color: #fff;
    
}

span.icon-bar {
    background-color: #fff;
}

#header-button {
    display: block;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color:  #0ed8d6;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
}

nav.blue-background{
    background-color: rgba(14, 216, 214, 0.4);
/*    opacity: 0.5;*/
}

nav.blue-background a:hover{
    color: #777;
}

/*
.background-div {
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.4;
}*/

#section-services {
    height: 100vh;
    width: 100%;
    position: relative;
}

a.btn-blue, .btn-blue{
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
   font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: all .3s;
    padding: 15px 30px;
}

a.btn-blue:hover, .btn-blue:hover{
    background-color: #fff;
    border: 1px solid #0ed8d6;
    color: #0ed8d6;
}

#services {
    text-align: center;
    padding: 100px 30px;
    font-family: 'Montserrat', sans-serif;
}

#services-h1 {
    color: #333333;
}

#services-h2 {
    font-size: 1.2em;
    font-family: 'Droid Serif', serif;
    font-style: italic;
}

.div-icon {
    text-align: center;
    background-color: #0ed8d6;
    color: #fff;
    font-size: 5em;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 1px solid #0ed8d6;
}

.div-icon:hover{
    background-color: #fff;
    color: #0ed8d6;
    cursor: pointer;
}

.div-icon i,
.div-icon span{
    transition: all 0.5s ease;
}

.div-icon:hover i,
.div-icon:hover span{
    transform: rotate(360deg);
}

.par-services {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
}

#section-portfolio {
    height: 200vh;
    width: 100vw;
    background-color: #f7f7f7;
    padding: 100px 30px;
}

.portfolio-image-wrapper{
    padding: 20px 20px;
    height: 450px;
}

.image-wrapper-inner{
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
.overflow-div{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
*/
.overfl {
    overflow: hidden;
}

.div-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    position: relative;
    transition: all .7s ease;
}

.mask {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(14, 216, 214, 0.4);
    color: #fff;
    line-height: 300px;
    text-align: center;
    font-size: 5em;
    opacity: 0;
    cursor: pointer;
    transition: all .7s ease;
}

.div-image:hover {
    transform: scale(1.3);
}

.div-image:hover>div{
   opacity: 1;
}

#div-image1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
    background-position: bottom;
}

#div-image2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
    }

#div-image3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
    }

#div-image4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
    }

#div-image5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
    }

#div-image6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
    }

#section-team {
    height: 150vh;
    width: 100%;
     padding: 100px 30px;
}

#team-header-section{
    margin-bottom: 60px;
}

#team-images-section{
    margin-bottom: 60px;
}

.team-wrap{
    margin-bottom: 60px;
}

.team-image{
    height: 300px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-size: contain;
    border-radius: 50%;
}

#team-1 {
    background-image: url(../img/team/man-1.jpg);
}

#team-2 {
    background-image: url(../img/team/man-2.jpg);
}

#team-3 {
    background-image: url(../img/team/woman-1.jpg);
}

.member-descr {
    font-size: 1.3em;
}

.social-icons {
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 40px;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 50%;
    font-size: 1.8em;
    color: #fff;
    transition: all .3s;
    margin: 5px;
}

.social-icons:hover{
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
}

#section-contact{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/footer/world-map.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100%;
}

#section-contact input:not([type="submit"]), 
#section-contact textarea {
    width: 100%;
    border: 0px solid;
}

#section-contact input,
#section-contact textarea {
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
}

#section-contact input:not(:last-child){
    margin-bottom: 30px;
}

#section-contact input[type="submit"]{
    margin-top: 30px;
}

#section-contact h2,
#section-contact p,
#section-contact h1{
    color: #fff;
}





